deepQuestion/config.xml
deepQuestion/gradle-7.0-bin.zip
deepQuestion/node_modules
deepQuestion/package.json
deepQuestion/package-lock.json
deepQuestion/platforms
backend/Include
backend/Lib
backend/Scripts
backend/pyvenv.cfg
*.sqlite3
backend/api/api/__pycache__/
backend/secrets.json
